@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p><button onclick="myMove()">Click Here!</button></p>
<div id="myContainer">
    <h1 id="animate">Listen Below!</h1>
</div>

<div class=" text-right music-video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/UX7bxe2whlw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
